/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;

/**
  * Here you would import any custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities can still
  * override them.
  *
  * @import "my-components/foo";
  * @import "my-components/bar";
  */

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  */
@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * @import "my-utilities/background-images";
  * @import "my-utilities/skew-transforms";
  */

/* ------------------------- CUSTOM ----------------------------------- */
/* PAGE */
.wrapper {
  background: url("../images/wrapper-bg.png") top right no-repeat;
  background-size: 70% auto;
  @apply .mx-auto .p-16;
}

.wrapper-inner {
  margin: 0 auto;
  max-width: 1440px;
}

.main-title {
  background: linear-gradient(config("colors.green"), config("colors.green")) left bottom no-repeat;
  background-size: 5rem 0.5rem;
  font-size: 4rem;
  margin: 10rem 0;
  @apply .font-normal .pb-8;
}

.section-title {
  background: linear-gradient(config("colors.green"), config("colors.green")) left bottom no-repeat;
  background-size: 5rem 0.2rem;
  padding-bottom: 1rem;
  @apply .my-8 .tracking-wide .text-2xl .font-bold;
}

/* ARTICLE SECTION */
.article-list {
  @apply .list-reset;
}

.article {
  @apply .my-8 .flex .items-center;
}

.article--reverse .article__body {
  order: -1;
  text-align: right;
}

/* STICKY MENU */
.sticky-menu {
  position: absolute;
  right: 10%;
  top: 40%;
}

.sticky-menu__link-item::after {
  content: "";
  background: url("../images/right-caret.png") no-repeat;
  background-size: contain;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 0;
  top: 30%;
}

.sticky-menu__link-item:last-of-type {
  border-bottom: 0;
}

.sticky-menu__link--new .sticky-menu__link-text::after {
  @apply .text-green .inline-block .ml-2 .text-xs;
  content: "Nouveau !";
}
